[submodule "Firmware/osdvu"]
	path = Firmware/osdvu
	url = https://github.com/cyrozap/osdvu.git
[submodule "Firmware/verilog-lfsr"]
	path = Firmware/verilog-lfsr
	url = git@github.com:bretthannigan/verilog-lfsr.git
